In [6]:
import pandas as pd
import glob
import os

# Path where all your CSV files are stored (change this)
path = "/data4/hnsw/TripClick/Ground_truth_EDBT2026_complete/"   # <-- folder containing 1.csv, 2.csv, ...

# Get list of all CSV files
files = glob.glob(os.path.join(path, "*.csv"))

results = []

for file in files:
    # Extract file name without extension → this becomes the id
    file_id = os.path.splitext(os.path.basename(file))[0]
    
    # Read the CSV
    df = pd.read_csv(file)
    
    # Compute average distance
    avg_distance = df['Distance'].mean()
    
    # Save to results list
    results.append([file_id, avg_distance])

# Convert results to DataFrame
output_df = pd.DataFrame(results, columns=["id", "average_distance"])

# Save final result
# output_df.to_csv("final_avg_distances.csv", index=False)

# output_df.head()

In [7]:

# Round the average_distance to 3 decimal places
output_df['average_distance'] = output_df['average_distance'].round(3)

In [8]:
# Extract numeric part from id (works for Q0, Q12, 5, etc.)
output_df['id_num'] = output_df['id'].str.extract('(\d+)').astype(int)

# Sort by numeric value
output_df = output_df.sort_values('id_num').drop(columns=['id_num'])

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipykernel_77083/676238627.py:2: SyntaxWarning: invalid escape sequence '\d'
  output_df['id_num'] = output_df['id'].str.extract('(\d+)').astype(int)

In [9]:
output_df

       id  average_distance
171    Q0            21.938
971    Q1            21.239
222    Q2            24.037
314    Q3            29.552
764    Q4            20.294
..    ...               ...
813  Q995            29.493
555  Q996            22.945
963  Q997            30.151
443  Q998             0.999
331  Q999            22.013

[1000 rows x 2 columns]

In [10]:
output_df.to_csv("/data4/hnsw/TripClick/Selectivity/Distance_Selectivity.csv", index=False)

In [24]:
import pandas as pd

# Paths to your CSV files
distance_file = "/data4/hnsw/TripClick/Selectivity/Distance_Selectivity.csv"
selectivity_file = "/data4/hnsw/TripClick/Selectivity/Selectivity.csv"

# Read both CSV files into DataFrames
df_distance = pd.read_csv(distance_file)
df_selectivity = pd.read_csv(selectivity_file)
df_distance.columns = df_distance.columns.str.strip()
df_selectivity.columns = df_selectivity.columns.str.strip()

# Save or inspect
# merged_df.to_csv("/path/to/merged.csv", index=False)
# print(merged_df.head())

In [25]:
print(df_selectivity.columns)

Index(['id', 'selectivity'], dtype='object')

In [26]:

# Make sure the selectivity DataFrame has a column to join on.
# For example, if both have a column 'id' or similar:
# Merge the DataFrames on the common column (here assumed 'id')
merged_df = pd.merge(df_distance, df_selectivity[['id', 'selectivity']], on='id', how='left')

In [27]:
merged_df

       id  average_distance  selectivity
0      Q0            21.938        0.140
1      Q1            21.239        0.086
2      Q2            24.037        0.079
3      Q3            29.552        0.234
4      Q4            20.294        0.183
..    ...               ...          ...
995  Q995            29.493        0.049
996  Q996            22.945        0.103
997  Q997            30.151        0.050
998  Q998             0.999        0.256
999  Q999            22.013        0.089

[1000 rows x 3 columns]

In [28]:
merged_df.to_csv("/data4/hnsw/TripClick/Selectivity/Distance_Selectivity_Combined.csv", index=False)